* {
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;;
}

.back_img1 {
   
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0.8,0.6)), url('../reserve/banner.jpg');
    height: 90vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.text3{
    
    padding-top: 300px;
     
    
 }
 
 .navbar-brand img{
     width: 120px;
    
     margin-left: 100px;
 }
 
 .navbar ul{
     margin-left: 40%;
     font-family: 'Handlee', cursive;
     
 }
 .navbar-nav li a{
     font-size: 18px;
     
     
 }
 .nav-item{
    padding:15px;
 }
 
 .navbar{
     position: fixed;
     z-index: 1;
     width: 100%;
     background-color: transparent;
     tra
 }
 
   .navbar-nav  li a:hover {
     color:red !important;
     transition-duration: 0.4s;
     opacity: 0.6;
   }

   .card{
    box-shadow: 0px 0px 5px  black;;
   
    transition: 0.7s;
    opacity: 1;
}
.card:hover{
    box-shadow: 0px 0px 20px  black;;
    
}
.btn{
    margin-left: 50%;
    width: 120px;
    border-radius: 15px;
    background-color: white;
  color: black;
  border: 2px solid #e7661c;
  margin-bottom: 50px;
}
.btn {
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    /* Green */
    color: black;
    background-color:#e7661c; 
    border: 2px solid white ;
     
  }

  footer{
    margin-top: 100px;
}

.foot{
    background-image:url('../images/footer.jpg') ;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.form{
    
  background-image:url('../images/foot.jpg') ;
  height: 70vh;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo2{
      
    width: 180px;
    margin-top: 50px;
}

img {
    width: 100%;
}

.contact-form{
    background: transparent;
    color:black;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px gray;
}